//Color
$white: #fff;
$platinum: #E6e7e7;
$Lg: #D1D1D1;
$fuwu: #E56353;
$rupi: #D76C69;
$spink: #ECBCBA;
$eb: #121619;
$rab: #222323;
$nic: #6C6E70;

//Font Family
$playfair: 'Playfair Display';
$rob: 'Roboto';

// Font Weight
$regular: 400;
$light: 300;
$black: 900;

// Font Sizes
$xx-large: 56px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small:12px;

