@media (max-width: 767px){
        .nt2{
                display: none;
        }
        .icono-abajo{
                font-size: 50px !important;
        }
        .redonda{
                display: block;
                margin: auto;
        }
                
}



